<!-- <ng2-heavy-stuff></ng2-heavy-stuff> -->

<!-- <ng1-test-upgraded></ng1-test-upgraded> -->

<!-- <ng1-heavy-stuff-upgraded [person]=person (onPersonSave)=onPersonFormSubmit()></ng1-heavy-stuff-upgraded> -->
<!-- <ng2-heavy-stuff></ng2-heavy-stuff> -->
<div class="ng2-border">
    <label>person-edit.component</label>
  <form [formGroup]="personForm" (ngSubmit)="onPersonFormSubmit()">
    <input type="hidden" formControlName="id">
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" class="form-control" id="firstname" placeholder="Firstname" formControlName="name">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" placeholder="Surname" formControlName="surname">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <hr />
  <ng2-heavy-stuff></ng2-heavy-stuff>
</div>