<div class="ng2-border">
    <label>tab-manager.component</label>
    <ng1-test-upgraded></ng1-test-upgraded>
  <my-tabs>
    <my-tab [tabTitle]="'People'">
      <people-list [people]="people" (addPerson)="onAddPerson()" (editPerson)="onEditPerson($event)">
      </people-list>
    </my-tab>
  </my-tabs>

  <ng-template let-person="person" #personEdit>
    <person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></person-edit>
  </ng-template>
  <ng-template let-person="person" #personAdd>
    <p>perdon add</p>
  </ng-template>
</div>

<button type="button" (click)="loadComponent()">Load!</button>

<div #testOutlet></div>